.socials{
    a {
        height: 100%;
        width: 100%;
        display: inline-block;

        img {
            object-fit: cover;
            object-position: center;
            height: 100%;
            width: 100%;
        }
    }
}